<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/layout :: htmlhead" th:with="title='Hello'">
    <script src="../static/js/seckill.js"></script>
</head>
    <meta charset="UTF-8">
    <title>秒杀详情页</title>
</head>
<body>
<div class="container">
    <div class="panel panel-default text-center">
        <div class="panel-heading" th:text="${seckill.name}"></div>
        <div class="panel-body">
            <h2 class="text-danger">
                <span  class="glyphicon glyphicon-time"></span>
                <div  class="glyphicon" id="seckill-box"></div>
            </h2>
        </div>
    </div>
</div>
<div id="killPhoneModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">
                    <span class="glyphicon glyphicon-phone"></span>秒杀电话：
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <input type="text" name="killphone" id="killphoneKey" placeholder="填手机号^O^" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span id="killphoneMessage" class="glyphicon"></span>
                <button type="button" id="killPhoneBtn" class="btn btn-success">
                    <span class="glyphicon glyphicon-phone"></span>
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
<div th:include="common/layout :: footer" id="footer">(footer)</div>
</div>
<script th:src="@{https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js}"></script>
<script th:src="@{https://cdn.bootcss.com/jquery.countdown/2.1.0/jquery.countdown.js}"></script>
<script th:src="@{/js/seckill.js}"></script>
</body>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        seckill.detail.init({

            seckillId :  /*[[${seckill.seckillId}]]*/,
            startTime :  /*[[${seckill.startTime.time}]]*/,
            endTime : /*[[${seckill.endTime.time}]]*/
        });
    });
</script>
</html>