<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/layout :: htmlhead" th:with="title='Hello'"></head>

<body>
<div th:replace="common/layout :: navbar">(navbar)</div>

<div class="container">
    <div class="starter-template">
        <h1>Spring MVC / Thymeleaf / Bootstrap</h1>
        <!--/*@thymesVar id="greeting" type="java.lang.String"*/-->
        <p class="lead" th:text="${greeting}">(greeting)</p>
        <p>The current time is <!--/*@thymesVar id="currentTime" type="com"*/-->
        <span th:text="${currentTime}">(time)</span></p>
        <div class="alert alert-success">成功！很好地完成了提交。</div>
        <div class="alert alert-info">信息！请注意这个信息。</div>
        <div class="alert alert-warning">警告！请不要提交。</div>
        <div class="alert alert-danger">错误！请进行一些更改。</div>
</div>

<div th:include="common/layout :: footer" id="footer">(footer)</div>
</div>
</body>
</html>